$c-violet: #4a009d;
$c-blue: #3e257a;
$c-white: #ffffff;
$c-black: #000000;
$c-dark-gray-1: #7f7f7f;
$c-dark-gray-2: #999999;
$c-v-dark-gray: #333333;
$c-gray: #a9a9a9;
$c-dark-red: #ab0306;
$c-vivid-red-1: #e52139;
$c-vivid-red-2: #ff1a37;
$c-red: #ff0000;
$c-light-orange: #fff2eb;
$c-dark-blue: #3d2d87;
$light-0: rgba(0, 0, 0, 0);
$light-3: rgba(0, 0, 0, 0.039);
$light-20: rgba(0, 0, 0, 0.678);