@use '../partials/' as *;

.Login {
    width: 100%;


    &-logo {
        border-bottom: 3px solid $c-vivid-red-1;
    }

    .Wrapper {
        @include flex(row, wrap, flex-start, center);
    }

    &-content {
        @include flex(row, nowrap, center, flex-start);

        &_auth {
            flex: 50%;

            &-form {
                @include flex(column, nowrap, center, center);
                gap: 4rem;
                border-bottom: 1px solid #ccc;
                height: 60vh;

                .form-group {
                    width: 50%;
                    position: relative;

                    label {
                        color: $c-gray;
                    }

                    input {
                        border: 1px solid $c-gray;
                        padding: 0.9375rem;
                        width: 100%;
                        margin: 2px 0;
                        z-index: 2;

                        &::placeholder {
                            color: #ccc;
                        }
                    }

                    button {
                        position: absolute;
                        bottom: 0;
                        top: 2.5rem;
                        left: 90%;
                        right: 0;
                        width: 1.5rem;
                        height: 1.5rem;
                        outline: none;
                    }
                }

                .form-button {
                    width: 50%;

                    button {
                        padding: 1.25rem 4.125rem;
                        border: 1px solid $c-vivid-red-1;
                        color: $c-vivid-red-1;
                        transition: all .4s ease-in;
                        cursor: pointer;

                        &:hover {
                            background-color: $c-vivid-red-1;
                            color: $c-white;
                            border-radius: 0.3125rem;
                        }
                    }
                }
            }

            &-recovery {
                @include flex(row, nowrap, center, center);
                margin: 20px 0 0;
                gap: 7rem;

                a {
                    text-decoration: underline;
                    color: #ccc;
                    transition: all .2s ease-in;
                    font-size: 0.9rem;

                    &:hover {
                        color: $c-vivid-red-1;
                        text-decoration: none;
                    }
                }
            }

        }




        &_banner {
            flex: 50%;
            width: 100%;
            height: 100vh;

            img {
                height: 100vh;
            }

        }
    }
}